@charset "utf-8";
/*fonts*/
@font-face
{
	src: url(fonts/Nosifer-Regular.ttf);
	font-family: nos;
}
@font-face
{
	src: url(fonts/AmaticSC-Regular.ttf);
	font-family: ff;
}
@font-face
{
	src: url(fonts/Changa-Regular.ttf);
	font-family: req;
}
@font-face
{
	src: url(fonts/Inconsolata-Regular.ttf);
	font-family: nice;
}
@font-face
{
	src: url(fonts/LuckiestGuy-Regular.ttf);
	font-family: bol;
}
@font-face
{
	src: url(fonts/Orbitron-Regular.ttf);
	font-family: reqq;
}
@font-face
{
	src: url(fonts/Philosopher-Regular.ttf);
	font-family: ni;
}
@font-face
{
	src: url(fonts/RobotoSlab-Light.ttf);
	font-family: simple;
}
@font-face
{
	src: url(fonts/Satisfy-Regular.ttf);
	font-family: mlz;
}
@font-face
{
	src: url(fonts/Underdog-Regular.ttf);
	font-family: zig;
}
/*fonts*/
/* CSS Document */
*{margin: 0;padding: 0;box-sizing:border-box; }

@media (max-width:360px)
{
	.header .slider
	{
		width: 1020px;
		margin-left: 128px;
	}
	.header .navbar
	{
		width: 1020px;	
	}
	.games .items_box
	{
		margin-left: 128px;
	}
}
@media (max-width:941px)
{
	.header .slider
	{
		width: 1020px;
	}
	.header .navbar
	{
		width: 1020px;	
	}
}
body
{
	
	
	height: 2000px;
}
.header .slider 
{
	
	
	
	background-image: url(imges/pup.jpg);
	background-size: cover;
	height: 600px;
}
.contaner
{
	width: 1000px;
	margin: auto;
}
.clearfix{clear: both;}

.header .slider .intro  
{

	text-align: center;
	color: white;
	padding-top: 200px;
}
.header .slider .intro  h2
{
	font-size: 50px;
	margin: 0 auto;
	width: 600px;
	border-right: 3px solid #3E2723;
	border-left: 3px solid #3E2723;
	padding:0 5px;
	font-family: nos;
	color: #d90909bd;
}
.header .slider .intro  input {
	width:25%;
	background-color:rgba(255,255,255,0.1);
	height:25px;
	border:2px solid rgb(15, 15, 15) ;
	padding-left:10px;
	border-radius:5%;
	transition:1s;
	font-family: ni;
	font-size: 24px;
}

.header .slider .intro input:hover
{
	background: white;
	opacity: .9;
	transition: ease-in-out .5s;
}

.header .navbar 
{
	background-color: #202b9ae6;
	color: bisque;
	overflow: hidden;
	box-shadow: 0 10px 50px blue;
}
	
	

.header .navbar h2
{
	color:#00fff5;
	float: left;
	text-transform: uppercase;
	font-family:reqq;
	letter-spacing: 3px;
	margin: -1px;
}
.header .navbar h2 span
{
	color: lavender;
	font-family:reqq;
	letter-spacing: 3px
}
.header .navbar ul
{
	list-style: none;
	padding-left: 0px;
	overflow: hidden;
	float: right;

}
.header .navbar ul li
{
	float: left;
	padding-left: 25px;
	font-family: req;
	
	
}
.header .navbar ul li a
{
	text-decoration: none;
	color: #ffff;	
}
/*ico*/
.fa-home:before {
    content: "\f015";
    margin-right: 8px;
}
.fa-book-open:before {
    content: "\f518";
    margin-right: 5px;
}
.fa-link:before {
	content: "\f0c1";
	margin-right: 5px;
}
.fa-gamepad:before {
    content: "\f11b";
    margin-right: 5px;
}
.fa-magic:before {
    content: "\f0d0";
    margin-right: 5px;
}
.fa-globe:before {
    content: "\f0ac";
    margin-right: 5px;
}
.fa-search:before {
    content: "\f002";
    font-size: 22px;
	margin-left: 10px;
	color:  #202b9ae6;
}
.fa-angle-double-right:before {
    content: "\f101";
    margin-left: 9px;
}
.fa-angle-double-left:before {
    content: "\f100";
    margin-right: 9px;
}
.fa-windows:before {
    content: "\f17a";
    margin-left: 5px;
}
.fa-github:before {
    content: "\f09b";
    margin-right: 5px;
}
.fa-instagram:before {
    content: "\f16d";
    margin-right: 5px;
}
.fa-linkedin:before {
    content: "\f08c";
    margin-right: 5px;
}
.fa-facebook:before {
    content: "\f09a";
    margin-right: 5px;
}
.fa-youtube:before {
    content: "\f167";
    margin-right: 5px;
}
.fa-google:before {
    content: "\f1a0";
    margin-right: 5px;
}
/*ico*/
.header .navbar ul li.act a,
.header .navbar ul li a:hover
{
	color: #00fff5;
}

/*games*/
.games{
	padding:40px 0;
	background-image: url(imges/7.jpg);
	background-size: cover;
	background-attachment: fixed;
	
}


.games p{
	margin-top:1px; 
	letter-spacing: 1px;	
	color:white;
	text-align: center;
	font-family:zig;
	font-size: 24px;
	
	
}




.games .items_box{
	overflow:hidden;
	box-shadow: 0 -10px 34px lightblue;

}

.games .items_box .icon{
	float:left;
	overflow:hidden;
	border-radius:10px;
	margin-left:1.5%;
	margin-bottom:15px;
	text-align:center;
	position:relative;
	box-shadow: 5px 5px 10px white;
}

.games .items_box .icon .over{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background-color:rgb(94, 120, 121);
	color:#fff;
	display:none;

}

.games .items_box .icon:hover .over{
display:block;
opacity: .9;
}

.games .items_box .icon .over h4{
	font-size:36px;
	margin-top:80px;
	margin-bottom:0px;
	font-weight:bolder;
	font-family: zig;
	color: #1d2122;
	letter-spacing: 2px;
}

.games .items_box .icon .over p{
	margin-bottom: 10px;
	margin-top:10px;
	line-height:1.5;
	color:#fff;
	font-weight:bold;
	font-family: ff;
}

.games .items_box .icon .over button{
	background-color:transparent;
	border:1px #fff solid;
	width:180px;
	padding:10px;
	border-radius:10px;
	
	transition:all .5s ease-in-out;	
}
.games .items_box .icon .over button i{color:#00fff5;}
.games .items_box .icon .over button a
{
	text-decoration: none;
	color: black;
	font-size: 20px;
	font-family: nice;
}

.games .items_box .icon .over button:hover{
	background:#fff;
	border:1px solid #fff;

}
.games .contaner button a
{
	text-decoration: none;
	color: white;
	
}

.next 
{
	
	background:none;
	width: 190px;
	font-size: 36px;
	font-family: ni;
	border: 1px solid white;
	font-weight: bold;
	border-radius: 5px;
	

}
.next:hover{background: rgb(30, 102, 210);} 

.previous
{

	margin-right: 455px;
	background:none;
	width: 190px;
	font-size: 36px;
	color:white;
	border: 1px solid white;
	font-weight: bold;
	font-family: ni;
	border-radius: 5px;

}
.previous:hover{background: rgb(30, 102, 210);} 
.games .contaner ul {
	list-style: none;
	margin-left:350px;
	
}
.games .contaner ul li
{
	text-align: center;
	display: inline-block;
}
.games .contaner ul li a
{
	text-decoration: none;
	color: azure;
}

.games .contaner ul li button
{
	background: none;
	border: 1px solid white;
	font-weight: bold;
	padding: 5px;
	margin: 5px;
	border-radius: 10px;
	
}
.games .contaner ul li.active button,
.games .contaner ul li button:hover
{
	background: rgb(30, 102, 210);
}
/* end games */

.cont
{
	background-image: url(imges/44.png);
	background-size: cover;
	overflow: hidden;
	box-shadow:0 -10px 10px lightblue; 
}
.cont  .info p
{
	color: grey;
	font-size: 12px;

}
.cont  .info img
{
	margin-top:20px; 
	
}
.cont  .info button a{
	text-decoration: none;color: gray;
	
}
.cont  .info button
{
	
	background:none;
	border: 1px solid rgb(59, 53, 53);
	border-radius: 7px;
	
	
}
.cont .info,.cont form{width: 50%;float: left;}
.cont form label
{
	display: block;
	color: rgb(66, 72, 77);
	margin:10px 0 ;
}
.cont form input[type="text"]
{
	background-color: #4b5557;
	color: #ffff;
	padding: 10px;
	border: 0;
	width: 80%;
	margin-bottom: 10px;
	border-radius:3px; 
}
.cont form input[type="email"]
{
	background-color: #4b5557;
	color: #ffff;
	padding: 10px;
	border: 0;
	width: 80%;
	margin-bottom: 10px;
	border-radius:3px; 
}

.cont form textarea
{
	background-color: #4b5557;
	color: #ffff;
	padding: 10px;
	border: 0;
	width: 80%;
	margin-bottom: 10px;
	height: 300px;
	border-radius:3px; 
}
.cont form input[type="submit"]
{
	background-color: #4b5557;
	color: #ffff;
	padding: 10px;
	border: 0;
	width: 30%;
	margin-bottom: 20px;
	border-radius:3px; 
}
.cont  iframe
{
	border: 1px solid grey;
	border-radius: 5px;
	width:300px ;
	height:250px; 
}

.fot
{
	background-image: url(imges/12.png);
	padding: 20px;
	text-align: center;
	overflow: hidden;
	background-size: cover;
	height: 300px;
}
.fot span
{
	margin-right: 40px;
    float: right;
    font-family: nice;
    color:white;
	margin-top: 55px;
}
.fot .ico
{
	float: left;
	
	margin-top: 55px;
	margin-left: 38px;
	font-size: 28px;
}

.fot .ico a
{
	text-decoration: none;
	color: white;
}
.fot .ico a:hover
{
	color:rgb(30, 102, 210);
}
.scroll{
	position:fixed;
	z-index:9999;
	background-color:rgb(24, 207, 116);
	opacity:0.7;
	right:20px;
	bottom:20px;
	padding:10px;
	width: 40px;
	border-radius:25px;
	text-align: center;
	font-size: 24px;

}
.scroll:hover{
	background-color: rgb(30, 102, 210);
	opacity:1;
}

